pipeline/pipelinePremier.json
{
	"name": "pipelinePremier",
	"properties": {
		"activities": [
			{
				"name": "TestLancerDftBasique",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "SetLancerDftBasique",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('Lancer DFT basique'),true)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetLancerDftBasique",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Lancer DFT basique",
					"value": true
				}
			},
			{
				"name": "CopyDataHeureDemarrage",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "NomPipeline",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": {
							"value": "@concat('SELECT ''', convertFromUtc(utcnow('o'),'Romance Standard Time'), ''' AS DateHeure')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureTableSink",
						"azureTableInsertType": "merge",
						"azureTableDefaultPartitionKeyValue": "DateHeure",
						"writeBatchSize": 10000
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "DateHeure",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DateHeure"
								}
							},
							{
								"source": {
									"name": "NomPipeline"
								},
								"sink": {
									"name": "NomPipeline"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTableDatesEtHeures",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureTableRunsAdf",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "dataflowDonneesSfAccount",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "CopyDataHeureDemarrage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflowDonneesSfAccount",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					}
				}
			}
		],
		"variables": {
			"Lancer DFT basique": {
				"type": "Boolean"
			},
			"DateHeureDemarrage": {
				"type": "String",
				"defaultValue": "'2020-08-19T18:13:00:000000K'"
			}
		},
		"annotations": [
			"Mon annotation",
			"Mon annotation"
		],
		"lastPublishTime": "2020-08-09T09:44:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}