pipeline/pipelinePremier.json
{
	"name": "pipelinePremier",
	"properties": {
		"activities": [
			{
				"name": "dataflowDatesEtHeures",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflowDatesEtHeures",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					}
				}
			},
			{
				"name": "TestMonTexte",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "SetLancerDftBasique",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('Lancer DFT basique'),true)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "dataflowBasique",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "dataflowBasique",
									"type": "DataFlowReference"
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								}
							}
						}
					]
				}
			},
			{
				"name": "SetLancerDftBasique",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "dataflowDatesEtHeures",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Lancer DFT basique",
					"value": true
				}
			}
		],
		"variables": {
			"MonTexte": {
				"type": "String",
				"defaultValue": "Texte dans ma variable"
			},
			"MonTableau": {
				"type": "Array"
			},
			"Lancer DFT basique": {
				"type": "Boolean"
			}
		},
		"annotations": [
			"Mon annotation"
		],
		"lastPublishTime": "2020-08-09T09:44:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}