pipeline/pipelineCopyActivityTableStorage.json
{
	"name": "pipelineCopyActivityTableStorage",
	"properties": {
		"activities": [
			{
				"name": "SetDateHeureDemarrage",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "DateHeureDemarrage",
					"value": {
						"value": "@convertFromUtc(utcnow('o'),'Romance Standard Time')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data heure demarrage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetDateHeureDemarrage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "Partition",
								"value": "PartitionUn"
							}
						],
						"sqlReaderQuery": {
							"value": "@concat('SELECT ''', variables('DateHeureDemarrage'), ''' AS DateHeure')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureTableSink",
						"azureTableInsertType": "merge",
						"azureTableDefaultPartitionKeyValue": "DateHeure",
						"writeBatchSize": 10000
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "DateHeure",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DateHeure"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTableDatesEtHeures",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureTableRunsAdf",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"DateHeureDemarrage": {
				"type": "String"
			}
		},
		"annotations": []
	}
}