adf-dev-frc-lab01/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-dev-frc-lab01"
		},
		"AzureSqlDatabaseGenerique_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabaseGenerique'"
		},
		"AzureKeyVaultLab01_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kv-dev-frc-lab01.vault.azure.net/"
		},
		"AzureTableStorageAdf_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "stdevfrcadf01"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVaultLab01')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVaultLab01_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipelineCopyActivityTableStorage')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SetDateHeureDemarrage",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "DateHeureDemarrage",
							"value": {
								"value": "@utcnow('o')",
								"type": "Expression"
							}
						}
					}
				],
				"variables": {
					"DateHeureDemarrage": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabaseGenerique')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Permet de paramétrer la base de données",
				"parameters": {
					"NomBase": {
						"type": "String",
						"defaultValue": "OutilsRedOps"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabaseGenerique_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVaultLab01",
							"type": "LinkedServiceReference"
						},
						"secretName": "Emmanuel"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVaultLab01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureTableStorageAdf')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureTableStorage",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVaultLab01",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('AzureTableStorageAdf_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVaultLab01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTableDatesEtHeures')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseGenerique",
					"type": "LinkedServiceReference",
					"parameters": {
						"NomBase": "OutilsRedOps"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "DateHeure",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "adf",
					"table": "DatesEtHeures"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseGenerique')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTableDestination')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseGenerique",
					"type": "LinkedServiceReference",
					"parameters": {
						"NomBase": "OutilsRedOps"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "guid",
						"type": "uniqueidentifier"
					},
					{
						"name": "texte",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "adf",
					"table": "Destination"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseGenerique')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTableSource')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseGenerique",
					"type": "LinkedServiceReference",
					"parameters": {
						"NomBase": "OutilsRedOps"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "guid",
						"type": "uniqueidentifier"
					},
					{
						"name": "texte",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "adf",
					"table": "Source"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseGenerique')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureTableRunsAdf')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureTableStorageAdf",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureTable",
				"schema": [],
				"typeProperties": {
					"tableName": "RunsAdf"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureTableStorageAdf')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflowBasique')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "AzureSqlTableSource",
								"type": "DatasetReference"
							},
							"name": "sourceSource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureSqlTableDestination",
								"type": "DatasetReference"
							},
							"name": "sinkDestination"
						}
					],
					"transformations": [],
					"script": "source(output(\n\t\tguid as string,\n\t\ttexte as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: true,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tquery: 'SELECT guid, texte FROM adf.Source',\n\tformat: 'query') ~> sourceSource\nsourceSource sink(input(\n\t\tID as integer,\n\t\tguid as string,\n\t\ttexte as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tmapColumn(\n\t\tguid,\n\t\ttexte\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sinkDestination"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTableSource')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTableDestination')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflowDatesEtHeures')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "AzureSqlTableDatesEtHeures",
								"type": "DatasetReference"
							},
							"name": "sourceDatesEtHeures"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureSqlTableDatesEtHeures",
								"type": "DatasetReference"
							},
							"name": "sinkDatesEtHeures"
						}
					],
					"transformations": [],
					"script": "parameters{\n\tparameterDateHeureDemarrage as string (\"2018-04-15T13:00:00.0000000Z\")\n}\nsource(output(\n\t\tDateHeureDynamique as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: true,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tquery: (concat(\"SELECT CAST(\",toString($parameterDateHeureDemarrage, \"yyyy-MM-dd'T'HH:mm:ss:fffffffK\"),\" AS smalldatetime) AS DateHeureDynamique\")),\n\tformat: 'query') ~> sourceDatesEtHeures\nsourceDatesEtHeures sink(input(\n\t\tDateHeure as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: true,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tmapColumn(\n\t\tDateHeure = DateHeureDynamique\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sinkDatesEtHeures"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTableDatesEtHeures')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipelinePremier')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "TestLancerDftBasique",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "SetLancerDftBasique",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('Lancer DFT basique'),true)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "dataflowBasique",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "dataflowBasique",
											"type": "DataFlowReference",
											"parameters": {},
											"datasetParameters": {
												"sourceSource": {},
												"sinkDestination": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										}
									}
								}
							]
						}
					},
					{
						"name": "SetLancerDftBasique",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "dataflowDatesEtHeures",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "Lancer DFT basique",
							"value": true
						}
					},
					{
						"name": "SetDateHeureDemarrage",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Copy data3",
								"dependencyConditions": [
									"Skipped"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "DateHeureDemarrage",
							"value": {
								"value": "@utcnow('o')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "dataflowDatesEtHeures",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "SetDateHeureDemarrage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflowDatesEtHeures",
								"type": "DataFlowReference",
								"parameters": {
									"parameterDateHeureDemarrage": "\"2018-04-15T13:00:00.0000000Z\""
								},
								"datasetParameters": {
									"sourceDatesEtHeures": {},
									"sinkDatesEtHeures": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					},
					{
						"name": "Copy data3",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('SELECT ',variables('DateHeureDemarrage'),' AS DateHeure')",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "merge",
								"azureTableDefaultPartitionKeyValue": "DateHeure",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DateHeure",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DateHeure"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlTableDatesEtHeures",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureTableRunsAdf",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"variables": {
					"Lancer DFT basique": {
						"type": "Boolean"
					},
					"DateHeureDemarrage": {
						"type": "String",
						"defaultValue": "'2020-08-19T18:13:00:000000K'"
					}
				},
				"annotations": [
					"Mon annotation",
					"Mon annotation"
				],
				"lastPublishTime": "2020-08-09T09:44:48Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflowDatesEtHeures')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTableDatesEtHeures')]",
				"[concat(variables('factoryId'), '/datasets/AzureTableRunsAdf')]",
				"[concat(variables('factoryId'), '/dataflows/dataflowBasique')]"
			]
		}
	]
}