adf-dev-frc-lab01/PartialArmTemplates/ArmTemplate_8_22_2020_13_28_21.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-dev-frc-lab01"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipelinePremier')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "TestLancerDftBasique",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "SetLancerDftBasique",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('Lancer DFT basique'),true)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "dataflowBasique",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "dataflowBasique",
											"type": "DataFlowReference"
										},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										}
									}
								}
							]
						}
					},
					{
						"name": "SetLancerDftBasique",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "dataflowDatesEtHeures",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "Lancer DFT basique",
							"value": true
						}
					},
					{
						"name": "SetDateHeureDemarrage",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Copy data3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "DateHeureDemarrage",
							"value": {
								"value": "@utcnow('o')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "dataflowDatesEtHeures",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "SetDateHeureDemarrage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflowDatesEtHeures",
								"type": "DataFlowReference",
								"parameters": {
									"parameterDateHeureDemarrage": "\"2018-04-15T13:00:00.0000000Z\""
								}
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					},
					{
						"name": "Copy data3",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('SELECT ',variables('DateHeureDemarrage'),' AS DateHeure')",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "merge",
								"azureTableDefaultPartitionKeyValue": "DateHeure",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DateHeure",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DateHeure"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlTableDatesEtHeures",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureTableRunsAdf",
								"type": "DatasetReference"
							}
						]
					}
				],
				"variables": {
					"Lancer DFT basique": {
						"type": "Boolean"
					},
					"DateHeureDemarrage": {
						"type": "String",
						"defaultValue": "'2020-08-19T18:13:00:000000K'"
					}
				},
				"annotations": [
					"Mon annotation",
					"Mon annotation"
				],
				"lastPublishTime": "2020-08-09T09:44:48Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflowDatesEtHeures')]",
				"[concat(variables('factoryId'), '/datasets/AzureTableRunsAdf')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureTableRunsAdf')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureTableStorageAdf",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureTable",
				"schema": [],
				"typeProperties": {
					"tableName": "RunsAdf"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureTableStorageAdf')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureTableStorageAdf')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureTableStorage",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVaultLab01",
							"type": "LinkedServiceReference"
						},
						"secretName": "stdevfrcadf01"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflowDatesEtHeures')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "AzureSqlTableDatesEtHeures",
								"type": "DatasetReference"
							},
							"name": "sourceDatesEtHeures"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureSqlTableDatesEtHeures",
								"type": "DatasetReference"
							},
							"name": "sinkDatesEtHeures"
						}
					],
					"transformations": [],
					"script": "parameters{\n\tparameterDateHeureDemarrage as string (\"2018-04-15T13:00:00.0000000Z\")\n}\nsource(output(\n\t\tDateHeureDynamique as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: true,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tquery: (concat(\"SELECT CAST(\",toString($parameterDateHeureDemarrage, \"yyyy-MM-dd'T'HH:mm:ss:fffffffK\"),\" AS smalldatetime) AS DateHeureDynamique\")),\n\tformat: 'query') ~> sourceDatesEtHeures\nsourceDatesEtHeures sink(input(\n\t\tDateHeure as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: true,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tmapColumn(\n\t\tDateHeure = DateHeureDynamique\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sinkDatesEtHeures"
				}
			},
			"dependsOn": []
		}
	]
}