adf-dev-frc-lab01/PartialArmTemplates/ArmTemplate_8_17_2020_19_9_55.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-dev-frc-lab01"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipelinePremier')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dataflowDatesEtHeures",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflowDatesEtHeures",
								"type": "DataFlowReference"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					},
					{
						"name": "TestMonTexte",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "SetLancerDftBasique",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('Lancer DFT basique'),true)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "dataflowBasique",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "dataflowBasique",
											"type": "DataFlowReference"
										},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										}
									}
								}
							]
						}
					},
					{
						"name": "SetLancerDftBasique",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "dataflowDatesEtHeures",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "Lancer DFT basique",
							"value": true
						}
					}
				],
				"variables": {
					"MonTexte": {
						"type": "String",
						"defaultValue": "Texte dans ma variable"
					},
					"MonTableau": {
						"type": "Array"
					},
					"Lancer DFT basique": {
						"type": "Boolean"
					}
				},
				"annotations": [
					"Mon annotation"
				],
				"lastPublishTime": "2020-08-09T09:44:48Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTableDatesEtHeures')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseGenerique",
					"type": "LinkedServiceReference",
					"parameters": {
						"NomBase": "OutilsRedOps"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "DateHeure",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "adf",
					"table": "DatesEtHeures"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTableDestination')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseGenerique",
					"type": "LinkedServiceReference",
					"parameters": {
						"NomBase": "OutilsRedOps"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "guid",
						"type": "uniqueidentifier"
					},
					{
						"name": "texte",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "adf",
					"table": "Destination"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTableSource')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseGenerique",
					"type": "LinkedServiceReference",
					"parameters": {
						"NomBase": "OutilsRedOps"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "guid",
						"type": "uniqueidentifier"
					},
					{
						"name": "texte",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "adf",
					"table": "Source"
				}
			},
			"dependsOn": []
		}
	]
}